<div class="card">
    <div class="text-right">
        <button class="btn" (click)="closeModal()">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
    </div>
    <h5 class="card-header text-center">Edit Lure</h5>
    <form #lureForm="ngForm">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-3">
                    <label for="name" class="form-label">Lure Name:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" name="name" id="name" [ngModel]="currLure.name" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="colorWay" class="form-label">Colorway:</label>
                </div>
                <div class="col-9">
                    <input type="text" name="colorWay" id="colorWay" class="form-control" [ngModel]='currLure.colorWay'
                           required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="productUrl" class='form-label'>Link:</label>
                </div>
                <div class="col-9">
                    <input type="text" name="productUrl" id="productUrl" class="form-control"
                           aria-describedby="productUrl" [ngModel]='currLure.productUrl' required>
                    <small class="form-text text-muted text-center">URL used for quick-access to host site</small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="imageUrl" class='form-label'>Thumbnail URL:</label>
                </div>
                <div class="col-9">
                    <input type="text" name="imageUrl" id="imageUrl" class="form-control" aria-describedby="imageUrl"
                           [ngModel]='currLure.imageUrl' required>
                    <small class="form-text text-muted text-center">URL for lure thumbnails</small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="price" class='form-label'>Price:</label>
                </div>
                <div class="col-4">
                    <input type="number" name="price" id="price" class="form-control" aria-describedby="price"
                           [ngModel]='currLure.price' required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3"><label for="type">Lure Type:</label></div>
                <div class="col-6">
                    <select class="form-control" name="type" id="type" [ngModel]="currLure.type">
                        <option [value]="currLure.type" selected>{{currLure.type}}</option>
                        <ng-template ngFor let-type [ngForOf]="lureTypes">
                            <option *ngIf="type[1] !== currLure.type" [value]="type[0]">{{type[1]}}</option>
                        </ng-template>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group row">
                <div class="col-12 text-center">
                    <button ngbAutoFocus type="button" class="btn btn-primary" [disabled]="!lureForm.form.valid"
                            (click)="updateLureReq()">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>