<div class="card  text-center">
    <div class="card-header">
        <h5>Delete Lure</h5>
    </div>
    <div class="card-body">
        <img *ngIf="lure.imageUrl" class="card-img" [src]="lure.imageUrl">
        <div class="row mb-3 card-text">
            <div class="col-3">
                <label class="col-form-label">Lure Name:</label>
            </div>
            <div class="col-9">
                {{lure.name}}
            </div>
        </div>
        <div class="row mb-3 card-text">
            <div class="col-3">
                <label class="col-form-label">Colorway:</label>
            </div>
            <div class="col-9">
                {{lure.colorWay}}
            </div>
        </div>
        <div class="row mb-3 card-text">
            <div class="col-3">
                <label class='col-form-label'>Link:</label>
            </div>
            <div class="col-9">
                {{lure.productUrl}}
            </div>
        </div>
        <div class="row mb-3 card-text">
            <div class="col-3">
                <label class='col-form-label'>Price:</label>
            </div>
            <div class="col-4">
                {{lure.price | currency}}
            </div>
        </div>
        <div *ngIf="lure.type" class="row mb-3 card-text">
            <div class="col-3">
                <label class='col-form-label'>Lure Type:</label>
            </div>
            <div class="col">
                {{lureTypeText(lure.type)}}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row mb-3">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-danger" (click)='deleteLure()'>Delete</button>
            </div>
        </div>
    </div>
</div>