<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header text-center">Weather Forecast</div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Temp:</th>
                <td>75</td>
              </tr>
              <tr>
                <th scope="row">Wind:</th>
                <td>NNW 12 mph</td>
              </tr>
              <tr>
                <th scope="row">Chance of rain:</th>
                <td>15%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">Sales / Promos</div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td>Basspro</td>
                <td>Googan Baits Krackin' Craws</td>
                <td>{{ 3.5 | currency }}</td>
              </tr>
              <tr>
                <td>Cabela's</td>
                <td>Z-Man Chatterbait Jackhammer StealthBlade Jig</td>
                <td>{{ 15.0 | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
